**/backup/
**/data/
*.pt
*.pdiparams
*.pdiparams.info
*.pdmodel
*.pdopt
*.pdparams
*.states
**/weights
**/PaddleOCR/output/
**/PaddleOCR/inference/
**/PaddleOCR/backup-inference/
**/.venv
**/.idea
**/__pycache__/
